/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}
.bg-text-primary{
   color: rgb(58, 58, 58);
}
.bg-text-gray{
    color:rgb(24, 25, 31);
}
.bg-light-gray{
    color:rgb(120, 120, 133);
}

.bg-price-dark{
    color:rgba(0, 0, 0, 0.87);
}
.bg-btn{
    background-color:rgb(224, 44, 109);
}
.pink{
    color:rgb(224, 44, 109);
}

.display-flex {
    display: flex;
}
 .txt-center{
    text-align: center;
 }

body{
    font-family: Poppins;
}
main {
    max-width: 1110px;
    margin: 0 auto;
}
main>section{
    margin-bottom: 100px;
}

/* navbar and header styles */
.navbar{
    justify-content: space-between;
    align-items: center;

}


.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.navbar,.header {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 20px;
}

.navbar-title{
    font-size: 1.5rem;
    font-weight: 700;
}
/* banner styles */
.banner{

    justify-content: center;
    align-items:center ;
    /* height: auto; */
}
.banner-content{
    max-width: 582px;
    margin-right:60px;
    /* margin-left:40px; */
}


.banner-img{
    margin-top: 50px;
    background-image: url("../images/circle.svg");
    background-size: cover;
    background-position: center;
    width: 475px;
    height: 475px;
}
.banner-img>img{
    width: 100%;
      
}
.banner-img>img:hover{
    transform: scale(0.8) rotate(15deg) translateX(10px);
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color:rgb(108, 108, 108);

}

.banner-btn{
    width: 196px;
height: 44px;
    padding: 10px 24px 10px 24px;
    color: white;
    font-size: 1rem;
font-weight: 700;
border-radius: 41px;
border: none;
}

/* sponsors section styles */
.sponsors{
    margin-top: 100px;
}
.sponsors-container{
    max-width:1110px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;

}

/* collection styles */
.collection-box{
    max-width:329px;
    border-radius: 5px;
    padding: 17px 15px 16px 15px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
 .collection-box>img{
    width: 100%;
 }
 .collection-box>img:hover{
    transform: scale(1.2) ;
    cursor: pointer;
}

.collection-name{
    font-size:1.75rem;
    font-weight: 500;
    color: rgb(24, 25, 31);
}
.price{
    font-family: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.collection-info{
    font-size: 0.87rem;
    font-weight: 700;
    color:rgb(120, 120, 133);
}
.ratings-icons>i{
    color:rgb(251, 130, 0);
}

.see-more-btn{
    font-size: 1rem;
    font-weight: 700;
    color:rgba(224, 44, 109, 0.87);
    border: none;
 
    background-color: rgba(255, 255, 255, 0.15);

}
.see-more{
    margin: 5px;
    text-align: end;

}

/* feature section styles */
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-content{
    max-width: 610px;
    margin-left:96px;
}
.feature-title{
    font-size: 2.375rem;
    font-weight: 700;
    color:rgb(10, 8, 38);
}
.feature-info{
    font-size: 1rem;
    font-weight: 700;
    color:rgb(108, 108, 108);
    margin:16px 0;
}
.join-btn{
    font-size: 1rem;
    font-family: 700;
    background: rgb(224, 44, 109);
    color: white;
    width: 155px;
    padding: 10px 24px 10px 24px;
    border:none;
    
}
.feature-container>img{
    width:100%;
}

footer{
    width: 100%;
    height: 239px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    
}
.footer-content>i{
    color:white;
    margin-top: 10px;
    padding-right: 20px;
}
.footer-title{
font-size: 1.5rem;
font-weight: 700;
}
footer>p{
    font-size: 0.875rem;
font-weight: 700;
margin:3px 0;


}
.footer-content{
    margin: 0 auto;
    padding: 50px 0;
    width:max-content;
}











/* smaller screen devices */
@media screen and (max-width:576px) {

    .navbar{
flex-direction: column;
margin:0 10px;
    }
    .banner{
        flex-direction: column-reverse;
        margin:0 10px;
    }
    .banner-img{
        width:257px;
        height: 257px;
    }
    .banner-content{
        text-align: center;
        margin-right: 10px;
margin-left: 10px;
/* width: 404px; */
    }
    .banner-title{
        margin-top: 30px;
        font-size: 1.5rem;
    }
  
    .banner-content > h2{
        margin-bottom: 10px;
    }
   .nav-item{
    margin-right: 15px;
    padding-left: 10px;
   }

   nav>ul{
    padding-left: 0px;
   }
   .sponsors-container{
    justify-content: center;
    gap: 20px;
        }
        .collection-container{
        justify-items: center;
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
        }
        /* .collection-box{
            width:100%;
        } */
        .see-more{
            margin:0px;
            text-align: center;
        
        }
        .feature-container{
            flex-direction: column-reverse;

        }
        .feature-title{
            font-size: 1.5rem;
        }
        .feature-content{
            margin-left: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
        .feature{
            margin:0 10px;
        }
        footer{
            margin-top: 20px;
        }
}






/* medium screen */
@media screen and (min-width:576px) and (max-width:992px){
    .banner{
        flex-direction: column-reverse;
        margin:0 10px;
    }
    .banner-content{
        text-align: center;
        margin-right: 10px;
margin-left: 10px;
/* width: 404px; */
    }

    .sponsors-container{
        justify-content: center;
        gap: 30px;
            }
            .feature-content{
                margin-left: 15px;
               
            }
            .feature{
                margin:0 10px;
            }
            footer{
                margin-top: 20px;
            }
}